@model SDS.Models.Course

@{
    ViewData["Title"] = "CommentTest";
    //@using (Html.BeginForm("CommentTest", "Course", FormMethod.Post)) 
}

<h1>CommentTest</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CommentTest">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <input type="hidden" asp-for="Id" />
           <div class="form-group">
                <!-- <label asp-for="LastComment" class="control-label"></label>
                <input asp-for="LastComment" class="form-control" />
                <span asp-validation-for="LastComment" class="text-danger"></span>-->
                <input id="idComment" style="margin-bottom: 30px" type="text"  name="comment" required minlength="4" size="100">
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
